{% extends "layout/basic.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<h2>Вход</h2>
{% if user.is_authenticated %}
<p>Вы уже выполнили вход</p>
{% else %}
<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="Войти">
    <p>Для тестирования приложения войдите с логином user и паролем a123456@</p>
</form>
<a href="{% url 'password_reset' %}">Сброс пароля</a>
{% endif %}
{% endblock %}