{% extends "layout/basic.html" %}

{% block content %}
{% for tsk in tasks_list %}
    <div>
        <a href="{% url 'edit' tsk.pk %}">{{forloop.counter}} {{ tsk.task }} {{ tsk.comment }}</a>
        <p>
            От <a class="datetime">{{ tsk.start }}</a> до <a class="datetime">{{ tsk.end }}</a>
            {% if tsk.priority %}
            <a class="prior">Важно</a>
            {% endif %}
            {% if tsk.hard %}
            <a class="hard">Жёсткая</a>
            {% endif %}
        {% for lbl in tsk.label.all %}
            <a class="label">{{ lbl.label }}</a>
        {% endfor %}
        </p>
    </div>
{% endfor %}
{% endblock %}
